@mixin headerMain {
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1rem;
  filter: drop-shadow(1rem 1rem .5rem black);
}
@mixin headerSmall {
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .35rem;
  filter: drop-shadow(1rem 1rem .5rem black);
}
@mixin inputs {
  font-size: 3.5rem;
  font-weight: 300;
  text-align: right;
  letter-spacing: .75rem;
  padding: 1.5rem 3rem;
  filter: drop-shadow(1rem 1rem .5rem black);
}
@mixin shareTotal {
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-style: italic;
}
@mixin info {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: .25rem;
}
