*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw; }

fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center; }

.results {
  flex: 1;
  background: orangered; }
